
{% extends 'base.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block about %} active {% endblock %}

{% block body %}

<div class=" py-5 my-3">   <!-- main container-->
    
  

    
    
    <div class="row py-5 text-bg-light border border-secondary rounded-5">
        
        
        <div class="col-md-3 border rounded-4 border-body border-dark text-bg-light text-center mx-5">
            <img src="{% static 'image/nail (2).jpg' %}" class="img-fluid" alt="error">
            
            <h4 class="fs-2 text-body-light  rounded-4 my-4"><em>Nail</em></h4>
            
            
        </div>
            <div class="col-md-3 border rounded-4 border-body border-dark text-bg-light text-center mx-5">
    
    <img src="{% static 'image/model.jpg'%}" class="img-fluid" alt="...">
    <h4 class="fs-2 text-body-light  rounded-4 my-4"><em>Hair</em></h4>



</div>

<div class="col-md-3 border rounded-4 border-body border-dark text-bg-light text-center mx-5">
    
    <img src="{% static 'image/beauty.jpg'%}" class="img-fluid" alt="...">
    <h4 class="fs-2 text-body-light rounded-4 my-4"><em>Skin</em></h4>
    
    
</div>

</div>

<!-- --------------------------------------------------------------------------- -->

<div class="row ">
    
    <div class="col-lg-6  my-auto " >
        <div class=" py-5 ">
        <div class="container my-3">
     
            <img src="{% static 'image/story.jpg'%}" class="img-thumbnail" alt="...">
        </div>
    
</div>

</div>
<!-- ---------------------------------------------------------------------------    -->

<div class="col-lg-6 py-5 my-auto">    <!--Main column -->
    
    
    <div class="   py-5 ">
        
       
        <div class="container  text-bg-secondary col-12 my-3 py-5">

<div class=" text-white text-center my-5">
<h3><ins><em>Our Story</em></ins></h3>
<p>Welcome to Moni-Ra, where beauty meets personalized care and style.Founded in [Year], Moni-Ra was born out of a dream to establish a haven of transformation and rejuvenation, led by a team of dedicated professionals who share a common vision of enhancing natural beauty. With years of collective expertise in hairstyling, skincare, and wellness, our salon quickly gained a reputation for excellence within the community.</p>
</div>


<div class=" text-white text-center my-5">
<h3><ins><em>Always Clean</em></ins></h3>
<p>At Moni-Ra, your health, safety, and comfort are of paramount importance to us. We understand that a clean and sanitized environment is crucial for both our clients and our team members. That's why we have implemented rigorous hygiene and sanitation practices throughout our salon.Our staff undergoes comprehensive training in hygiene and sanitation protocols to guarantee a consistent and safe experience for every client.</p>
</div>


<div class=" text-white text-center my-5">
<h3><ins><em>Always Leading And Ethical</em></ins></h3>
<p>At Moni-Ra, we take immense pride in being at the forefront of our industry while upholding unwavering ethical standards. We understand that beauty is not only skin deep; it's about confidence, self-expression, and empowerment. That's why we are dedicated to consistently leading the way in delivering top-notch salon services while maintaining a strong commitment to ethical practices.</p>
</div>

<div class=" text-white text-center my-5">
<h3><ins><em>Our Founder</em></ins></h3>
<h5>Moni-Ra</h5>
</div>



</div>




</div>  <!-- col 12-->


</div>  <!--main col-->

 <!-- --------------------------------------------------------------------------- -->

</div>   <!--row-->
    
</div>   <!-- div for main container-->

<hr>

{% endblock %}