{% extends 'base.html' %}
{% load static %}

{% block title %} Contact Us {% endblock %}

{% block contact %} active {% endblock %}

{% block body %}

<div class="py-5">   <!-- Main Div-->

<div class="row text-bg-light border border-secondary rounded-4 ">
 




    <div class="col-md-6 mx-auto my-auto text-center py-4">
        <div class="my-4">
        <h2>Contact Our Salon.</h2>
<p>You Can Contact Us .</p>
</div>

<div class="my-4">
<a href="https://www.google.com/maps" class="text-decoration-none text-dark">Arera Colony , Bhopal </a>
</div>

<div class="my-4">
<a href="https://accounts.google.com/InteractiveLogin/signinchooser?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=AXo7B7WBtsYsyQhzVlu_hb6KhCKo67k0zd136sKal5Ap9OocRzVQ223A9ZfBTsmOGTph9b-I8BVaiQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="text-decoration-none text-dark">Monira@gmail.com</a>

</div>



</div>        

<div class="col-md-6">

    <img src="{% static 'image/pette.jpg' %}" class="img-fluid " alt="...">
    
</div>

</div>


<div class="row text-bg-secondary border border-secondary rounded-4 my-5">
    
    <div class="col-md-6">
       
        
        <img src="{% static 'image/lee.jpg' %}" class="img-thumbnail " alt="...">
       
       
</div> 


<div class="col-md-6 mx-auto my-auto text-center">
    
    <div class="my-4 ">
        <h3>Working Hours.</h3>
        <h5>Monday-Friday</h5>
        <h5>09:00 - 22:00</h5>
    </div>
    <div class="my-4">
        <span class="text-decoration-none  text-white">
            "* Or give us a call to schedule a treatment"

    <a href="tel:9988967896;" class="text-decoration-none text-white">(888) 265-3556</a>
</span>
</div>

<div class=" form-floating my-4">
    <input type="email" class="form-control rounded-4" id="floatingInput" placeholder="Email">
    <label for="floatingInput">Email address</label>

<div class="my-4">
    <button type="button" class="btn btn-light rounded-5">Send</button>
</div>

</div> 


    
   
</div> 
    
</div>
    
    
</div>  <!--Main Div-->




{% endblock %}