<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">List</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item my-1">
      <a href="/" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Home
      </a>
    </li>
    <li class="my-2">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Hair Treatment
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Hair Coloring
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Hair Cutting
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Hair Styling
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Facial 
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Menicure
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Skin Treatment
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Pedicure
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Waxing
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Body Care Treatment
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Bridal Makeup
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Party Makeup
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Saree Drapping
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Gel Extension
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Acrylic Extension
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
       3D Nail Art
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
       Gel Nail Art
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
       Hair Extension
      </a>
    </li>
    <li class="my-1">
      <a href="/appointment" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
       Advance Hair Cut
      </a>
    </li>
  </ul>
  <hr>
  
</div>