
{% extends 'baseproduct.html' %}
{% load static %}

{% block title %} Moni-RaShop {% endblock %}

{% block product%} active {% endblock %}




{% block body %}


<div class="rounded-4" >   <!--Main div-->
  <!-- ---------------------------------------------------------------------------- -->
  {% load cart %}
  
{% if messages %}

{% for i in messages %}

<div class="alert alert-success border border-3 border-success rounded-4 text-center" role="alert">
   <strong>{{ i }}</strong> 
</div>

{% endfor %}
{% endif %}







<div class="alert alert-dismissible fade show text-center rounded-4 py-3 my-4" style="background-color:  #b7e2fc;"  role="alert">
    
  <h3><strong>WelCome Our Moni-Ra Shop!</strong></h3>
   <h5>Here You Will Get Quality Products on Affordable Price.</h5>
  
</div>


<div class="row">

<div class="  col-lg-3 " 	>
  <div class="  d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
    <div  class="list-group  border border-secondary rounded-4 text-bg-light">


      <a href="/productSale/" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <img src="{% static 'image/category.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0"> All Products </h6>
            
          </div>
          <small class="opacity-50 text-nowrap"><strong>{{ procount }} Items</strong></small>
        </div>
      </a>

          {% for i in categories %}
          <a href="/productSale/?category={{ i.id }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="{% static 'image/category.png' %}" alt="twbs" width="32" height="32" class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h6 class="mb-0">{{ i.name }}</h6>
                
              </div>
              <small class="opacity-50 text-nowrap">Check it</small>
            </div>
          </a>
          {% endfor %}
                  </div>
      </div>
    


</div>


<div class="col-lg-9 rounded-4" style="background-color:  	#f9f9f7">

    <div class="row">

    {% for i in product %}
<div class="col-lg-4 my-4">


    <div class="card text-center mx-auto text-bg-light rounded-4" id="{{ i.id }}" style="width: 18rem;" >
        <img src="{{ i.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ i.name }} </h5>
          <h5 class="card-title">&#8377;<b> {{ i.price }} </b></h5>
          <p class="card-text">{{ i.description }}</p>
        
        </div>

          <div class="card-footer p-0 no-gutters">
            {% if i|is_in_cart:request.session.cart %}
            <div class="row no-gutters  py-1">
              <form action="/productSale/#{{ i.id }}" method="post" class="col-2"> {% csrf_token %}
                <input type="text" hidden name="productcart" value="{{ i.id }} ">                                                                           <input type="text" hidden name="remove" value="True">                                                                       
              <input type="submit" value=" - " class=" btn btn-block btn-secondary rounded-4 mx-1">
            </form>
              <div class="text-center col">{{ i|cart_quantity:request.session.cart }} in Cart</div>
              <form action="/productSale/#{{ i.id }}" method="post" class="col-2 mx-4"> {% csrf_token %}
                <input type="text" hidden name="productcart" value="{{ i.id }} ">                                                                                                                                                  
              <input type="submit" value=" + " class=" btn btn-block btn-secondary rounded-4">
            </form>
          </div>
    
    

{% else %}
          <form action="/productSale/#{{ i.id }}" method="post" class="btn-block">
          {% csrf_token %}
          <input type="text" hidden name="productcart" value="{{ i.id }} ">
          <input type="submit" value="Add to Cart" class="btn btn-primary rounded-4">
        </form>
        {% endif %}
        </div>
      </div>




</div>

{% endfor %}

</div>

</div>


</div>













<!-- ---------------------------------------------------------------------------- -->
</div>     <!--Main div-->
    
{% endblock %}