{% extends 'base.html' %}
{% load static %}

{% block title %} services {% endblock %}

{% block service %} active {% endblock %}      



{% block body %}

<div class=" py-5 my-3">   <!-- main container-->
    
    <div class="alert alert-info rounded-5" role="alert">
    <h1 class="display-4 fst-italic text-center ">Hair Service</h1>
</div>
    
    
    <div class="row py-5">
        
        
        <div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
            <img src="{% static 'image/hair.jpg' %}" class="img-fluid" alt="error">
            
            <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4"><span>Hair Treatment</span></h4>
            
            
        </div>
            <div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    
    <img src="{% static 'image/element5-digital-WCPg9ROZbM0-unsplash.jpg'%}" class="img-fluid" alt="...">
    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Hair Coloring</h4>



</div>

<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    
    <img src="{% static 'image/tim-mossholder-ArQIWcmOlA8-unsplash.jpg'%}" class="img-fluid" alt="...">
    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Hair Styling</h4>


</div>

</div>



<div class="alert alert-success rounded-5" role="alert">
<h1 class="display-4 fst-italic text-center ">Skin Service</h1>
</div>
<div class="row py-5">


<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/facial1 (1).jpg' %}" class="img-fluid" alt="...">

    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Facial</h4>
 

</div>

<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/facial1 (2).jpg' %}" class="img-fluid" alt="...">

    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Menicure</h4>
 

</div>

<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/facial1 (3).jpg' %}" class="img-fluid" alt="...">

    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Pedicure</h4>
 

</div>


</div>      



<div class="alert alert-primary rounded-5" role="alert">
    <h1 class="display-4 fst-italic text-center ">Nail Art</h1>
</div>

<div class="row py-5">

    
    <div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/nail (1).jpg' %}" class="img-fluid" alt="...">

    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Gel Nail Polish</h4>
    
    
</div>

<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/gelnail.jpg' %}" class="img-fluid" alt="...">
    
    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">Gel Extension</h4>
    
    
</div>

<div class="col-md-3 border rounded-4 border-body border-secondary text-bg-light text-center mx-5">
    <img src="{% static 'image/nail44 (1).jpg' %}" class="img-fluid" alt="...">
    
    <h4 class="fs-2 text-body-light text-bg-secondary rounded-4 my-4">3D Nail Art</h4>
    
    
</div>


</div>      













</div>              <!-- main container-->

<hr>





{% endblock %}